@page
@model WEB315_Summer23_ThemePunjabiCulture.Pages_PunjabiCulture.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PunjabiCulture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PunjabiCulture.CultureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunjabiCulture.CultureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PunjabiCulture.OccassionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunjabiCulture.OccassionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PunjabiCulture.Costume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunjabiCulture.Costume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PunjabiCulture.Food)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunjabiCulture.Food)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PunjabiCulture.OrganisedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunjabiCulture.OrganisedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PunjabiCulture.DaysOfCelebration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunjabiCulture.DaysOfCelebration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PunjabiCulture.OriginCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PunjabiCulture.OriginCity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PunjabiCulture.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
